<header>
    <nav>
        <div class="nav-container">
            <a routerLink="/home" class="logo">Lista de Tarefas</a>
            <ul class="navegacao">
                <li class="navegacao-item">
                     <a routerLink="/tarefas" class="navegacao-link">Visualizar tarefas</a>
                 </li>
                <li class="navegacao-item">
                        <a routerLink="/tarefas/nova-tarefa" class="navegacao-link">Cadastrar nova tarefa</a>
                </li>
            </ul>
        </div> 
     </nav>
</header>
