<div class="tarefas-container">
<div class="menu">
    <h1 class="titulo">Suas tarefas</h1>
<div class="tarefas-opcoes">
    <form class="pesquisa" autocomplete="off">
        <label for="input-pesquisa">Pesquisar Tarefa:</label>
        <input type="text" id="input-pesquisa">
    </form>
    <div class="layout">
        Exibição:
        <div class="layout-opcoes">
                <button (click)="alterarLayout('lista')">
                   Lista
                </button>
                <button (click)="alterarLayout('solo')">
                    I
                </button>
                <button (click)="alterarLayout('par')">
                    II
                </button>
        </div>
    </div>
   
</div>

</div>
<div class="btn-group">
    <button class="btn btn-success" routerLink="/nova-tarefa">Nova Tarefa</button>
</div>

<!-- Tarefas -->
<div class="tarefas">
    <ul class="{{'ul-'+layout}}">
        <li class="{{'li-'+layout}}">
            <div class="tarefa">
                <div class="tarefa-header">
                    <p class="tarefa-titulo">Comprar colchão</p>
                </div>
                <div class="tarefa-corpo">
                    <p class="tarefa-texto">Comprar colchão pra diminuir a dor nas costas</p>
                </div>
                <div class="tarefa-footer">
                    <div class="botoes">
                        <button class="btn btn-primary">Detalhes</button>
                        <button class="btn btn-success" >Concluír</button>
                    </div>
                </div>  
            </div>
        </li>
        <li class="{{'li-'+layout}}">
            <div class="tarefa">
                <div class="tarefa-header">
                    <p class="tarefa-titulo">Começar na academia</p>
                </div>
                <div class="tarefa-corpo">
                    <p class="tarefa-texto">Trabalhar o shape do pai</p>
                </div>
                <div class="tarefa-footer">
                    <div class="botoes">
                        <button class="btn btn-primary">Detalhes</button>
                        <button class="btn btn-success" >Concluír</button>
                    </div>
                </div>  
            </div>
        </li>
        <li class="{{'li-'+layout}}">
            <div class="tarefa">
                <div class="tarefa-header">
                    <p class="tarefa-titulo">Cafunga</p>
                </div>
                <div class="tarefa-corpo">
                    <p class="tarefa-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque ab iusto debitis dolor. Similique cumque porro, dolor quidem esse maiores repellat dolorem commodi consequuntur iusto itaque, sint, nisi eos! </p>
                </div>
                <div class="tarefa-footer">
                    <div class="botoes">
                        <button class="btn btn-primary">Detalhes</button>
                        <button class="btn btn-success" >Concluír</button>
                    </div>
                </div>  
            </div>
        </li>
    </ul>
</div>
</div>