.home-container{
    margin: 0 auto;
}
.topo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.titulo{
    font-size: 2rem;
    width: 50%;
}

.titulo p ~ p{
    font-size: 1rem;
}

.titulo p a{
    color: #1ed760;
}

.text-center{
    text-align: center;
}
