<div class="home-container" (window:resize)="onResize()">
    <div class="topo">
        <div class="titulo">
            <p>Olá, usuário!</p>
            <p *ngIf="tarefasPendentesLength > 0; else noContent">
                Existe(m) {{tarefasPendentesLength}} tarefa(s) esperando por você. <a routerLink="/tarefas" >Visualizar.</a>
            </p>
            <ng-template #noContent>
                <p>Não há novas tarefas pendentes...</p>
                <p>Que tal começarmos uma <a routerLink="/tarefas/nova-tarefa">nova tarefa</a> agora?</p>
            </ng-template>
        </div>
    </div>
</div>