<div class="card-{{layout}}">
    <div class="card-header-{{layout}}">
        <p class="card-text{{layout}}">
            Tarefa A
        </p>
    </div>
    <div class="card-body-{{layout}}">
        <p class="card-text-{{layout}}">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, reprehenderit. Est doloribus laudantium nemo, delectus quam accusantium iste fuga maiores voluptatem non dolor eaque adipisci asperiores earum magni exercitationem aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quidem praesentium iste quis, odit molestias id doloremque iusto earum. Blanditiis, eligendi praesentium! Libero tempora ab corporis! Ad reiciendis cum accusantium.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti eos ipsa, eaque veniam, eligendi optio molestiae inventore aliquam sint voluptatum enim eveniet nemo ratione sit, necessitatibus veritatis. Corporis, necessitatibus.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum, nobis ab aliquam fugiat ullam omnis adipisci, corrupti a, tempora facilis sint aspernatur! Placeat perferendis eveniet dicta dignissimos labore id!
        </p>
    </div>
    <div class="card-footer-{{layout}}">
        <button class="btn btn-danger">Excluir</button>
        <button class="btn btn-success">Concluir</button>
    </div>
</div>