<div class="card-{{layout}}">
    <div class="card-header-{{layout}}">
        <p class="card-text{{layout}}">
            {{tarefa.titulo}}
        </p>
    </div>
    <div class="card-body-{{layout}}">
        <p class="card-text-{{layout}}">
            {{tarefa.descricao}}
        </p>
    </div>
    <div class="card-footer-{{layout}}">
        <button class="btn btn-danger" (click)="finalizarTarefa(tarefa.id!, status.cancelado)">Excluir</button>
        <button class="btn btn-success" (click)="finalizarTarefa(tarefa.id!, status.concluido)">Concluir</button>
    </div>
</div>